# Numpy Module

``` Channel Video : https://youtu.be/QEELEG99fV0 ```

In [3]:
# importing Numpy
import numpy as np

In [ ]:
# Creating 0d Arraay - Scalar array

# the array() parameter have only one number it mwans the array is scalar array else it will call 0th D array

arr1 = np.array(5)
arr1

In [ ]:
# Creating 1 D array

# if we pass the list() into the array() it will known as one D array

a = np.array([1,2,3,4])
a

In [14]:
# Creating 1 D array

# if we pass the [[],[]] into the array() it will known as one D array

b = np.array([[1,2,3],[1,2,3]],dtype=int) # if we use 2d or 3d array it will be order in 2d array [[1,2],[1,2]] in the following example the list contain 2 elements each list... hence we will use same length values in the all of list 
b

# Dtype is use to Spcify the DataType of the all of the array in the NpArray

array([[1, 2, 3],
       [1, 2, 3]])

In [7]:
type(a) # ndarraay "nd" means "N" Dymantinal Array

numpy.ndarray

In [16]:
a.ndim # ndim is used to find the Dymantinal of the array
b.ndim

2

In [18]:
# 3DArray

three = np.array([[[1,2,3]]
                 ,[[1,3,3]]
                 ,[[1,2,3]]])

three

array([[[1, 2, 3]],

       [[1, 3, 3]],

       [[1, 2, 3]]])

In [20]:
# Definind the Dimentsions

x1 = np.array([1,2,3,4],ndmin=6)
x1
#"ndmin" are used to set the dimantinal of the array

array([[[[[[1, 2, 3, 4]]]]]])

In [21]:
# Creating array of zero
zeros = np.zeros((2,3))
zeros

# 2 mention the "rows" and three metions "col"

array([[0., 0., 0.],
       [0., 0., 0.]])

In [22]:
# Creating array of onse
x=np.ones((4,4))
x

# 4 mention the "rows" and 4 metions "col"

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [25]:
# Eye Function : Returns array filled with zeros except in the kth diagonal, whose values are equal to 1

# Eyedantity means diagonal position onse is called "eye"

eye = np.eye(4)
eye

# the parameter mentions the N X N matrix 4 means 4X4 matrix

# also we can create eye(row,col)
x2 = np.eye(2,4)
x2

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.]])

In [26]:
a = np.eye(4,k=-1) # k means diagonal position
a

array([[0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

In [27]:
a1 = np.eye(5,k=2) #  it's  control the position of diagonal
a1

array([[0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

# Assing Array Elements

In [ ]:
# Accessing 1d array

b = np.array([1,2])

In [32]:
# 3DArray

three = np.array([[[1,2,3]]
                 ,[[1,3,3]]
                 ,[[1,2,3]]])

three[0,0,2] # if we asscessing multi dim we can use "," seperated access

3

# Slicing Array

In [34]:
a = np.array([1,5,4,3,7,6,54,89])
print(a[0:3])
print(a[2:])
print(a[:4])

[1 5 4]
[ 4  3  7  6 54 89]
[1 5 4 3]

In [37]:
# slicing 2d array
a1 = np.array([[1,5,4,3,7,6,54,89],[1,5,4,3,7,6,54,89],[1,5,4,3,7,6,54,89]])

print(a1[0:2,:4])
print(a1[0:2,0:3])

[[1 5 4 3]
 [1 5 4 3]]
[[1 5 4]
 [1 5 4]]

# Numpy DataTypes

- i - integer
- b - boolean
- u - unsigned integer
- f - float
- c - complex float
- m - timedelta
- M - datetime
- O - object
- S - string
- U - unicode string
- V - fixed chunk of memory for other type ( void )

In [42]:
# To Convert Data Types

arr = np.array([1.1, 2.1, 3.1],dtype=int)

newarr = arr.astype('f')

print(newarr)
print(newarr.dtype)

[1. 2. 3.]
float32

In [43]:
# Make a copy, change the original array, and display both arrays:
arr = np.array([1, 2, 3, 4, 5])
x = arr.copy()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[1 2 3 4 5]

In [44]:
# Make a view, change the original array, and display both arrays:

arr = np.array([1, 2, 3, 4, 5])
x = arr.view()
arr[0] = 42

print(arr)
print(x)

[42  2  3  4  5]
[42  2  3  4  5]

# Array Shape

In [45]:
# NumPy arrays have an attribute called shape that returns a tuple with each index having the number of corresponding elements.

arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

print(arr.shape)

(2, 4)

In [46]:

arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print('shape of array :', arr.shape)

[[[[[1 2 3 4]]]]]
shape of array : (1, 1, 1, 1, 4)

In [57]:
# Reshaping means changing the shape of an array.

# The shape of an array is the number of elements in each dimension.

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(6, 2)

print(newarr)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]]

In [58]:
# Convert the following 1-D array with 12 elements into a 3-D array.

# The outermost dimension will have 2 arrays that contains 3 arrays, each with 2 elements:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(2, 3, 2)

print(newarr)

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

In [59]:
# Convert the array into a 1D array:

arr = np.array([[1, 2, 3], [4, 5, 6]])

newarr = arr.reshape(-1)

print(newarr)

[1 2 3 4 5 6]

# Iterating Arrays

In [60]:
arr = np.array([1, 2, 3])

for x in arr:
  print(x)

1
2
3

In [61]:
# Iterate on the elements of the following 2-D array:

arr = np.array([[1, 2, 3], [4, 5, 6]])

for x in arr:
  print(x)

[1 2 3]
[4 5 6]

In [62]:
# Iterate on the elements of the following 3-D array:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

for x in arr:
  print(x)

[[1 2 3]
 [4 5 6]]
[[ 7  8  9]
 [10 11 12]]

In [63]:
# Iterate down to the scalars:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

for x in arr:
  for y in x:
    for z in y:
      print(z)

1
2
3
4
5
6
7
8
9
10
11
12

In [66]:
# Iterate through the following 3-D array:

arr = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])

for x in np.nditer(arr):
  print(x)

1
2
3
4
5
6
7
8

In [69]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

for x in np.nditer(arr[:, ::2]):
  print(x)

1
3
5
7

In [70]:
# Enumerated Iteration Using ndenumerate()

arr = np.array([1, 2, 3])

for idx, x in np.ndenumerate(arr):
  print(idx, x)

(0,) 1
(1,) 2
(2,) 3

In [2]:
mat = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [5]:
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [6]:
np.arange(1,11,2)

array([1, 3, 5, 7, 9])

In [7]:
for i in np.arange(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [9]:
np.linspace(1,11,25)

array([ 1.        ,  1.41666667,  1.83333333,  2.25      ,  2.66666667,
        3.08333333,  3.5       ,  3.91666667,  4.33333333,  4.75      ,
        5.16666667,  5.58333333,  6.        ,  6.41666667,  6.83333333,
        7.25      ,  7.66666667,  8.08333333,  8.5       ,  8.91666667,
        9.33333333,  9.75      , 10.16666667, 10.58333333, 11.        ])

In [11]:
np.random.rand(4)

array([0.10204642, 0.03236678, 0.51122522, 0.70250009])

In [12]:
np.random.rand(5,5)

array([[0.31989316, 0.8517972 , 0.80482166, 0.61723705, 0.92211472],
       [0.46949473, 0.91788643, 0.57982001, 0.53921663, 0.96696135],
       [0.01385899, 0.48557378, 0.06900483, 0.5543569 , 0.36024992],
       [0.63878165, 0.0933108 , 0.34697883, 0.06655112, 0.30851039],
       [0.07802954, 0.85625484, 0.54190104, 0.20235617, 0.19847414]])

In [13]:
np.random.rand(5,5)

array([[0.51331361, 0.49485549, 0.04491276, 0.03737968, 0.7001994 ],
       [0.71888707, 0.52807005, 0.09786761, 0.06354653, 0.35075848],
       [0.74868923, 0.12499136, 0.22011002, 0.64723882, 0.20577658],
       [0.67034806, 0.56912593, 0.00876551, 0.9133467 , 0.08394895],
       [0.64922935, 0.91846572, 0.36647528, 0.7749883 , 0.77788885]])

In [15]:
np.random.randn(6,6)

array([[ 0.11658196,  0.38422446,  0.18756561, -1.47239082, -0.75993661,
        -0.58756463],
       [-0.42819747,  0.07520756,  0.95410038, -0.82570341, -1.04896072,
         1.13631417],
       [ 0.16042366,  2.1055502 ,  0.56993209, -1.41358889,  0.885995  ,
        -0.17891661],
       [ 0.14590607,  1.09249705,  1.72480296, -1.86137404, -0.12006573,
        -0.67508097],
       [-0.89534266, -1.09787217,  0.61772328, -1.49613361,  1.62955398,
        -1.4101966 ],
       [-0.38953838, -0.93733137, -1.90493274, -1.01297844,  0.4487836 ,
        -1.44497881]])

In [ ]:
np.random.randint(1,6)

In [22]:
np.random.randint(1,6,10) # it will give the numbers between 1 to 6 in 10 distribution

array([1, 2, 3, 1, 5, 1, 3, 3, 3, 1])

In [26]:
a = np.random.rand(5,5)
a

array([[0.11081391, 0.45816138, 0.96071242, 0.63765001, 0.35355474],
       [0.65651621, 0.21678277, 0.68152373, 0.28064431, 0.15841148],
       [0.73452255, 0.87368431, 0.21927328, 0.37908655, 0.3921647 ],
       [0.83206266, 0.28472014, 0.68761334, 0.57875336, 0.75084481],
       [0.49391247, 0.14447661, 0.14827096, 0.47558278, 0.33127587]])

In [27]:
a.max()

0.9607124177712231

In [29]:
a.min()

0.11081390624135057

In [30]:
a.argmax()

2

In [31]:
a.argmin()

0

In [34]:
a.shape

(5, 5)

In [36]:
len(a)

5

In [39]:
b = np.random.rand(10)
b

array([0.58238512, 0.56596244, 0.77303427, 0.07828565, 0.8234303 ,
       0.26674846, 0.14634254, 0.56715054, 0.53353808, 0.7841768 ])

In [41]:
b.reshape(10,1)

array([[0.58238512],
       [0.56596244],
       [0.77303427],
       [0.07828565],
       [0.8234303 ],
       [0.26674846],
       [0.14634254],
       [0.56715054],
       [0.53353808],
       [0.7841768 ]])

In [42]:
a.dtype

dtype('float64')

# excersise

In [47]:
np.array([ i for i in range(50)])
np.array(np.arange(50))

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [49]:
np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [50]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [57]:
np.random.rand(1)

array([0.54820016])

In [59]:
np.random.randn(25)

array([-0.33368949,  0.91156494,  0.89980122, -0.6690417 , -1.71223281,
       -0.35941428,  0.26299362,  0.38637971, -0.81636437, -0.52573826,
       -0.65100343, -0.161594  , -0.33560739, -0.62523714, -0.5063042 ,
        0.36384919, -0.15043126,  0.09307395,  0.86032329, -0.49270098,
        1.04244442, -0.23396351,  0.70680913, -0.06972845, -0.24957485])

In [73]:
np.arange(0.01,1.001,0.01).reshape(10,10)

array([[0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ],
       [0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ],
       [0.31, 0.32, 0.33, 0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 ],
       [0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.5 ],
       [0.51, 0.52, 0.53, 0.54, 0.55, 0.56, 0.57, 0.58, 0.59, 0.6 ],
       [0.61, 0.62, 0.63, 0.64, 0.65, 0.66, 0.67, 0.68, 0.69, 0.7 ],
       [0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77, 0.78, 0.79, 0.8 ],
       [0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88, 0.89, 0.9 ],
       [0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99, 1.  ]])

In [75]:
np.arange(1,101)/100

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 , 0.11,
       0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 , 0.21, 0.22,
       0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 , 0.31, 0.32, 0.33,
       0.34, 0.35, 0.36, 0.37, 0.38, 0.39, 0.4 , 0.41, 0.42, 0.43, 0.44,
       0.45, 0.46, 0.47, 0.48, 0.49, 0.5 , 0.51, 0.52, 0.53, 0.54, 0.55,
       0.56, 0.57, 0.58, 0.59, 0.6 , 0.61, 0.62, 0.63, 0.64, 0.65, 0.66,
       0.67, 0.68, 0.69, 0.7 , 0.71, 0.72, 0.73, 0.74, 0.75, 0.76, 0.77,
       0.78, 0.79, 0.8 , 0.81, 0.82, 0.83, 0.84, 0.85, 0.86, 0.87, 0.88,
       0.89, 0.9 , 0.91, 0.92, 0.93, 0.94, 0.95, 0.96, 0.97, 0.98, 0.99,
       1.  ])

In [76]:
np.linspace(0,1,20)

array([0.        , 0.05263158, 0.10526316, 0.15789474, 0.21052632,
       0.26315789, 0.31578947, 0.36842105, 0.42105263, 0.47368421,
       0.52631579, 0.57894737, 0.63157895, 0.68421053, 0.73684211,
       0.78947368, 0.84210526, 0.89473684, 0.94736842, 1.        ])

In [78]:
mat = np.arange(1,26).reshape(5,5)
mat

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [79]:
mat[2:,1:]

array([[12, 13, 14, 15],
       [17, 18, 19, 20],
       [22, 23, 24, 25]])

In [82]:
mat[3,4]

20

In [87]:
mat[:3,1:2]

array([[ 2],
       [ 7],
       [12]])

In [89]:
sum([ i for i in np.nditer(mat)])

325

In [90]:
mat.sum()

325

In [91]:
mat.std()

7.211102550927978

In [93]:
[ mat[:,i].sum() for i in range(mat.shape)]

TypeError: 'tuple' object cannot be interpreted as an integer